In [ ]:
num = int(input("숫자 입력:"))
if num < 10:
  print("10보다 작은 숫자 입니다.")
print("프로그램을 종료합니다.")

숫자 입력:5
10보다 작은 숫자 입니다.

In [ ]:
num = int(input("숫자 입력:"))
if num < 10:
  print("10보다 작은 숫자 입니다.")
else:
  print("10보다 큰 숫자입니다.")

숫자 입력:15
10보다 큰 숫자입니다.

In [ ]:
A = int(input("소프트웨어 설계 : "))
B = int(input("소프트웨어 개발 : "))
C = int(input("데이터베이스 구축 : "))
D = int(input("프로그래밍언어 활용 : "))
E = int(input("정보시스템 구축 관리 : "))
avg = (A+B+C+D+E)/5
print("평균 :",int(avg))
if A >= 40 and B >= 40 and C >= 40 and D >= 40 and E >= 40 and avg >= 60:
  print("결과 : 합격")
else:
  print("결과 : 불합격")

소프트웨어 설계 : 70
소프트웨어 개발 : 80
데이터베이스 구축 : 90
프로그래밍언어 활용 : 50
정보시스템 구축 관리 : 40
평균 : 66
결과 : 합격

In [ ]:
score = float(input("이번 학기 학점 : "))
if score >= 4.0:
  print("장학금 신청 대상")
else:
  print("장학금 학점 미달")

이번 학기 학점 : 4.3
장학금 신청 대상

In [ ]:
number = int(input("어떤 수? "))
if number%2 == 1 :
  print("입력한 수",number,"는 홀수이다.")
else:
  print("입력한 수",number,"는 짝수이다.")

어떤 수? 14
입력한 수 14 는 짝수이다.

In [ ]:
number = int(input("어떤 수?"))
if number > 100:
  print(f"입력한 수 {number}은(는) 100보다 큽니다")
else:
  if number > 50:
    print(f"입력한 수 {number}은(는) 50보다 크고 100보다 작습니다.")
  else:
    print(f"입력한 수 {number}은(는) 50보다 작습니다.")

어떤 수?140
입력한 수 140은(는) 100보다 큽니다

In [ ]:
number = int(input("어떤 수?"))
if 0 <= number < 10:
  print("한 자릿수 숫자입니다.")
elif 10 <= number < 100:
  print("두 자릿수 숫자입니다.") 
elif 100 <= number < 1000:
  print("세 자릿수 숫자입니다.") 
elif 1000 <= number < 10000:
  print("네 자릿수 숫자입니다.")

어떤 수?9999
네 자릿수 숫자입니다.

In [ ]:
fruit = ["딸기","포도","망고", "복숭아", "수박"]
if "딸기" in fruit:
  print("맛있는 딸기가 있습니다.")
else:
  print("리스트에 딸기가 없습니다.")

맛있는 딸기가 있습니다.

In [ ]:
List_Code = int(input("교수 교과목 코드 :"))
List = [1203, 1250, 1275, 1290]
if List_Code == 1203:
  print("과목명 : 파이썬 프로그래밍")
else:
  if List_Code == 1250:
    print("과목명 : 컴퓨팅 사고")
  else:
      if List_Code == 1275:
        print("과목명 : 빅 데이터")
      else:
          if List_Code == 1290:
            print("과목명 : IoT")
          else:
            print("해당 강좌 없음")

교수 교과목 코드 :1250
과목명 : 컴퓨팅 사고

In [ ]:
weight = float(input())
if weight <= 50.80:
  print("Flyweight")
elif weight <= 61.23:
  print("Lightweight")
elif weight <= 72.57:
  print("Middleweight")
elif weight <= 88.45:
  print("Cruiserweight")
else:
  print("Heavyweight")

90
Heavyweight

In [ ]:
Month = int(input())
if Month == 1:
  print("31")
elif Month == 2:
  print("28")
elif Month == 3:
  print("31")
elif Month == 4:
  print("30")
elif Month == 5:
  print("31")
elif Month == 6:
  print("30")
elif Month == 7:
  print("31")
elif Month == 8:
  print("31")
elif Month == 9:
  print("30")
elif Month == 10:
  print("31")
elif Month == 11:
  print("30")
elif Month == 12:
  print("31")

5
31

In [2]:
a = input()

num = a.split()
print("1 : ", num.count("1"))
print("2 : ", num.count("2"))
print("3 : ", num.count("3"))
print("4 : ", num.count("4"))
print("5 : ", num.count("5"))
print("6 : ", num.count("6"))

5 6 3 4 5 5 2 2 4 6
1 :  0
2 :  2
3 :  1
4 :  2
5 :  3
6 :  2