In [32]:
flower=["장미","백합","튤립","국화","수선화"]
flower.append("해바라기")
flower.sort(key=len , reverse=True)
for i in range(0,6,1):
  x = len(flower[i])
  print(f"{flower[i]} {x}")

해바라기 4
수선화 3
장미 2
백합 2
튤립 2
국화 2

In [99]:
movie_list=[("오징어게임",50.45), ("이터널스",35.46),("그레비티",9.8), ("노타임투다이",52.5),
("스파이더맨",15.47)]
movie_dict = dict.fromkeys(movie_list)
x = sorted(movie_dict , key = lambda x:x[1] , reverse = True)
y = 1

print("영화제목    예매율    순위")
print("========    ======    ====")
for k, v in x:
  print(k , "{0: >5}".format(v) ,f"     {y}")

  y += 1

영화제목    예매율    순위
========    ======    ====
노타임투다이  52.5      1
오징어게임 50.45      2
이터널스 35.46      3
스파이더맨 15.47      4
그레비티   9.8      5